a.side-nav-item {
  text-decoration: none;
  color: var(--darkSiteColor);
  font-family: 'Montserrat Alternates', sans-serif;
}
a:hover,
a:active {
  color: var(--middleSiteColor);
}
.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
mat-nav-list {
  background-color: var(--veryLightSiteColor);
  position: relative;
  height: 100vh;
  div.site-name {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: var(--darkSiteColor);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    img {
      display: block;
      margin-left: 105px;
      margin-bottom: 5px;
      filter: var(--logo-img);
    }
    span {
      display: block;
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.active-side-nav {
  background-color: var(--darkSiteColor) !important;
  color: var(--lightSiteColor) !important;
}
