<div class="footer transitionStyle">
  <div class="footer-nav transitionStyle">
    <a routerLink="/" class="nav-link transitionStyle"> Компанія </a>
    <a routerLink="/services" class="nav-link transitionStyle"> Послуги </a>
    <a routerLink="/contacts" class="nav-link transitionStyle"> Контакти </a>
    <a routerLink="/questions" class="nav-link transitionStyle"> Запитання </a>
    <a routerLink="/notifications" class="nav-link transitionStyle">
      Оголошення
    </a>
  </div>
  <div class="footer-info transitionStyle">
    <a routerLink="/">
      <img
        src="assets/images/logo_transparent.png"
        height="100"
        class="footer-logo"
      />
    </a>
    <div class="footer-title">
      Товариство з обмеженою відповідальністю<br />"Управляюча компанія
      "Комфорт-Дім"
    </div>
  </div>
  <div class="footer-address">
    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
    <div>
      77300 Україна, Івано-Франківська обл., м. Калуш, вул. Грушевського 54
    </div>
  </div>
</div>
