.transitionStyle {
  transition: all ease-in-out 0.25s;
}
.footer {
  width: 100%;
  user-select: none;
  color: var(--darkSiteColor);
  .footer-nav {
    padding: 10px;
    background-color: var(--veryLightSiteColor);
    border-bottom: 2px solid var(--middleSiteColor);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    a.nav-link {
      font-size: 14px;
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-decoration: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      transition: all ease-in-out 0.25s;
      position: relative;
      user-select: none;
      color: var(--darkSiteColor);
    }
    a.nav-link:active,
    a.nav-link:hover {
      color: var(--blackSiteColor);
    }
  }
  .footer-info {
    background-color: var(--veryLightSiteColor);
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    .footer-logo {
      margin-right: 25px;
      filter: var(--logo-img);
    }
    .footer-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 32px;
      color: var(--darkSiteColor);
    }
  }
  .footer-address {
    background-color: var(--veryLightSiteColor);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-top: 2px solid var(--middleSiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    fa-icon {
      margin-right: 15px;
      font-size: 32px;
    }
  }
  .footer-dev {
    background-color: var(--veryLightSiteColor);
    border-top: 2px solid var(--middleSiteColor);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;

    .dev-link {
      margin: 0 14px;
      &:hover {
        .dev-logo {
          background-image: var(--dev-img-hover);
        }
      }
      .dev-logo {
        background-image: var(--dev-img);
        background-size: contain;
        background-position: center;
        width: 152px;
        height: 38px;
      }
    }

    fa-icon {
      font-size: 18px;
      position: relative;
      top: -2px;
    }
  }
}
@media screen and (max-width: 990px) {
  .footer {
    .footer-info {
      .footer-logo {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 510px) {
  .footer {
    .footer-info {
      .footer-title {
        font-size: 24px;
      }
    }
  }
}
