$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$ultraLightSiteColor: #ffffbf;
$middleSiteColor: #a65e09;
$blackSiteColor: #000000;
$whiteSiteColor: #ffffff;

.transitionStyle {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.sideNavBtn {
  margin-right: 15px;
  cursor: pointer;
}
.li-item,
.li-icon {
  height: 36px;
  min-width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  &:hover {
    border-color: $darkSiteColor;
  }
}

.active-link {
  background-color: $darkSiteColor;

  a.nav-link,
  a.nav-link-icon {
    color: $veryLightSiteColor;
  }
}
a.nav-link-icon {
  padding: 2px 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: $darkSiteColor;
  display: inline-block;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.nav-link {
  padding: 2px 10px 0;
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: $darkSiteColor;
  display: inline-block;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fa-icon {
    font-size: 16px;
  }
}

a.site-name {
  display: inline-block;
  position: relative;
  width: 200px;
  text-decoration: none;
  color: $darkSiteColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media screen and (max-width: 1170px) {
    span {
      font-size: 18px;
    }
  }
  img {
    margin-top: 8px;
  }
  span {
    position: absolute;
    left: 50px;
    top: 13px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}
a.site-name:hover {
  color: $darkSiteColor;
}
.navigation-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-text {
  margin-left: 5px;
}
mat-toolbar {
  background-color: $veryLightSiteColor;
  border-bottom: 3px solid $middleSiteColor;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  top: 0;
}
@media screen and (max-width: 1170px) {
  .nav-text {
    display: none;
  }
}
