.transitionStyle {
  transition: all ease-in-out 0.25s;
}
.slowTransitionStyle {
  transition: all ease-in-out 0.5s;
}
.progressSpinnerBox {
  width: 100%;
  position: fixed;
  top: 61px;
  left: 0;
  z-index: 1000;
}
.question-header {
  font-weight: 600;
  color: var(--darkSiteColor);
  font-size: 32px;
  width: calc(100% - 6px);
  text-align: center;
  background: var(--ultraLightSiteColor);
  background: var(--title-bg);
  margin: 20px 0 20px 0;
  padding: 20px 10px;
  user-select: none;
}
.showFormBtn {
  position: fixed;
  top: 80px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: var(--darkSiteColor);
  color: var(--lightSiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 1000;
}
.showFormBtn:hover {
  background-color: var(--veryLightSiteColor);
  color: var(--darkSiteColor);
  border: 1px solid var(--darkSiteColor);
}
.questions-container {
  width: 1400px;
  min-height: calc(100vh - 104px);
  margin: 0 auto 20px;
}
:host ::ng-deep {
  .progressBarStyle .ui-progressbar {
    background-color: transparent !important;
    border-radius: 0 !important;
  }
  .progressBarStyle .ui-progressbar .ui-progressbar-label {
    color: var(--darkSiteColor) !important;
  }
  .progressBarStyle .ui-progressbar .ui-progressbar-value {
    background: var(--darkSiteColor) !important;
  }
  .ui-dialog {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 75%;
  }
  .ui-dialog-titlebar {
    background-color: var(--darkSiteColor) !important;
    color: var(--lightSiteColor) !important;
    border-color: var(--lightSiteColor) !important;
    cursor: move;
  }
  .ui-dialog-title {
    cursor: default;
  }
  .ui-dialog-titlebar-icon {
    color: var(--lightSiteColor) !important;
  }
  .ui-dialog-content {
    background-color: var(--darkSiteColor) !important;
    border-color: var(--lightSiteColor) !important;
  }
}
.question-form {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--ultraLightSiteColor);
  border: 3px solid var(--darkSiteColor);
  border-radius: 5px;
  user-select: none;
  color: var(--darkSiteColor);
  .question-form-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    text-align: center;
  }
  .question-line {
    width: 50%;
    height: 3px;
    background-color: var(--darkSiteColor);
    margin: 25px 0 5px;
  }
  .alert-icon {
    font-size: 64px;
    margin-bottom: 15px;
  }
  .question-form-subtitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    width: 75%;
    text-align: center;
    span.ui-float-label {
      margin-top: 20px;
      display: flex;
      flex-flow: row-reverse nowrap;
      label {
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--middleSiteColor);
        margin-left: 50px;
      }
      input {
        width: calc(100% - 45px);
        height: 45px;
        background-color: transparent;
        border-color: var(--darkSiteColor);
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--darkSiteColor);
        font-size: 16px;
        border-radius: 0 3px 3px 0;
      }
      textarea {
        width: calc(100% - 45px);
        background-color: transparent;
        border-color: var(--darkSiteColor);
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--darkSiteColor);
        font-size: 16px;
        resize: vertical;
        height: 100px;
        min-height: 100px;
        border-radius: 0 3px 3px 0;
      }
      fa-icon {
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--darkSiteColor);
        border-right: none;
        background-color: var(--darkSiteColor);
        color: var(--ultraLightSiteColor);
        border-radius: 3px 0 0 3px;
        font-size: 18px;
      }
      input:focus ~ fa-icon {
        background-color: transparent;
        color: var(--darkSiteColor);
      }
      textarea:focus ~ fa-icon {
        background-color: transparent;
        color: var(--darkSiteColor);
      }
    }
    .form-alert {
      div {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
        color: var(--darkSiteColor);
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        fa-icon {
          margin-right: 10px;
          font-size: 28px;
        }
      }
    }
    button {
      margin: 25px 10px 10px 10px;
      width: calc(75% - 20px);
      background-color: var(--darkSiteColor);
      border-color: var(--darkSiteColor);
      font-family: 'Montserrat Alternates', sans-serif;
      color: var(--ultraLightSiteColor);
      font-size: 16px;
    }
    button:disabled {
      cursor: not-allowed;
    }
  }
}
.question-box {
  margin-bottom: 20px;
  .question-wrapper {
    .question-item {
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 5px 0;
      padding-right: 100px;
      color: var(--darkSiteColor);
      .question-icon {
        width: 100px;
        font-size: 50px;
        background-color: var(--veryLightSiteColor);
        color: var(--darkSiteColor);
        border: 2px solid var(--lightSiteColor);
        border-right-width: 0;
        display: flex;
        justify-content: center;
        border-radius: 5px 0 0 5px;
        padding-top: 25px;
      }
      .question-text {
        width: calc(100% - 100px);
        background-color: var(--veryLightSiteColor);
        border: 2px solid var(--lightSiteColor);
        border-left-width: 0;
        padding: 5px 20px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 0 5px 5px 0;
        position: relative;
        .question-author {
          position: absolute;
          top: 0;
          right: 0;
          background-color: var(--lightSiteColor);
          color: var(--darkSiteColor);
          padding: 2px 5px 5px 5px;
          border-radius: 0 0 0 5px;
        }
        .question-date {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: var(--lightSiteColor);
          color: var(--darkSiteColor);
          padding: 5px 5px 2px 5px;
          border-radius: 5px 0 0 0;
        }
        .question-record {
          padding: 25px 0;
        }
        .item-btn-container-table {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          position: absolute;
          bottom: 0;
          left: 0;
          .editBtn,
          .deleteBtn {
            width: 50px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--darkSiteColor);
            color: var(--lightSiteColor);
            font-size: 20px;
            margin: 5px;
            border: 1px solid transparent;
            transition: all ease-in-out 0.25s;
            cursor: pointer;
          }
          .editBtn:hover,
          .deleteBtn:hover {
            background-color: var(--veryLightSiteColor);
            color: var(--darkSiteColor);
            border-color: var(--darkSiteColor);
          }
        }
      }
    }
    .answer-item {
      display: flex;
      flex-flow: row-reverse wrap;
      margin: 5px 0 0 0;
      padding-left: 100px;
      color: var(--veryLightSiteColor);
      border-radius: 5px;
      .answer-icon {
        width: 100px;
        font-size: 50px;
        background-color: var(--veryLightSiteColor);
        color: var(--darkSiteColor);
        border: 2px solid var(--lightSiteColor);
        border-left-width: 0;
        display: flex;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        padding-top: 25px;
      }
      .answer-text {
        width: calc(100% - 100px);
        background-color: var(--veryLightSiteColor);
        border: 2px solid var(--lightSiteColor);
        color: var(--darkSiteColor);
        border-right-width: 0;
        padding: 10px 20px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px 0 0 5px;
        position: relative;
        .answer-author {
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--lightSiteColor);
          color: var(--darkSiteColor);
          padding: 2px 5px 5px 5px;
          border-radius: 0 0 5px 0;
        }
        .answer-date {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--lightSiteColor);
          color: var(--darkSiteColor);
          padding: 5px 5px 2px 5px;
          border-radius: 0 5px 0 0;
        }
        .answer-record {
          padding: 25px 0;
        }
      }
    }
  }
}
.delBtn,
.cancelBtn {
  background-color: var(--lightSiteColor);
  color: var(--darkSiteColor);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 1px solid var(--lightSiteColor);
  cursor: pointer;
}
.delBtn:hover,
.cancelBtn:hover {
  background-color: var(--darkSiteColor);
  color: var(--lightSiteColor);
  border: 1px solid var(--lightSiteColor);
}
h3,
h1 {
  color: var(--lightSiteColor);
  text-align: center;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
:host ::ng-deep .custom-toast .ui-toast-message-success {
  color: var(--darkSiteColor) !important;
  background-color: var(--lightSiteColor) !important;
  border: 2px solid var(--darkSiteColor) !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-message-error {
  color: var(--lightSiteColor) !important;
  background-color: var(--darkSiteColor) !important;
  border: 2px solid var(--lightSiteColor) !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-summary {
  font-size: 20px !important;
}
:host ::ng-deep .custom-toast .ui-toast-detail {
  text-decoration-style: dotted !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-success .ui-toast-close-icon {
  color: var(--darkSiteColor) !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-error .ui-toast-close-icon {
  color: var(--lightSiteColor) !important;
}
.selectedDeletion {
  font-size: 32px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--ultraLightSiteColor);
}
@media screen and (max-width: 1450px) {
  .questions-container {
    width: 1200px;
  }
}
@media screen and (max-width: 1250px) {
  .questions-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .questions-container {
    width: 100%;
  }
  .question-box {
    .question-wrapper {
      .question-item {
        border-radius: 0;
        padding-right: 0;
        .question-icon {
          border-radius: 0;
          border-left: none;
        }
        .question-text {
          border-radius: 0;
          border-right: none;
        }
      }
      .answer-item {
        border-radius: 0;
        padding-left: 0;
        .answer-icon {
          border-radius: 0;
          border-right: none;
        }
        .answer-text {
          border-radius: 0;
          border-left: none;
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .showFormBtn {
    position: fixed;
    top: 16px;
    left: auto;
    right: 140px;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  .question-form {
    border-radius: 0;
    form {
      width: 100%;
    }
  }
}
@media screen and (max-width: 599px) {
  .question-header {
    font-size: 20px;
  }
  .question-form {
    form {
      width: 100%;
    }
  }
  .showFormBtn {
    position: fixed;
    top: 13px;
    font-size: 20px;
  }
  .question-box {
    .question-wrapper {
      .question-item {
        .question-icon {
          display: none;
        }
        .question-text {
          width: 100%;
          font-size: 16px;
        }
      }
      .answer-item {
        .answer-icon {
          display: none;
        }
        .answer-text {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .question-box {
    .question-wrapper {
      .question-item {
        .question-text {
          font-size: 14px;
        }
      }
      .answer-item {
        .answer-text {
          font-size: 14px;
        }
      }
    }
  }
}
