:host ::ng-deep .custom-toast .ui-toast-message-success {
  color: var(--darkSiteColor) !important;
  background-color: var(--lightSiteColor) !important;
  border: 2px solid var(--darkSiteColor) !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-message-error {
  color: var(--lightSiteColor) !important;
  background-color: var(--darkSiteColor) !important;
  border: 2px solid var(--lightSiteColor) !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-summary {
  font-size: 20px !important;
}
:host ::ng-deep .custom-toast .ui-toast-detail {
  text-decoration-style: dotted !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-success .ui-toast-close-icon {
  color: var(--darkSiteColor) !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-error .ui-toast-close-icon {
  color: var(--lightSiteColor) !important;
}
.transitionStyle {
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.loginBox {
  min-height: calc(100vh - 104px);
  width: 600px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background-color: var(--veryLightSiteColor);
  border: 2px solid var(--lightSiteColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  border-radius: 5px;
  padding: 50px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.login-title {
  color: var(--darkSiteColor);
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.login-subtitle {
  color: var(--darkSiteColor);
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 3px;
  width: 100%;
  background-color: var(--darkSiteColor);
}
.form-container {
  form {
    span.ui-float-label {
      margin-top: 20px;
      display: flex;
      flex-flow: row-reverse nowrap;
      label {
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--middleSiteColor);
        margin-left: 50px;
      }
      fa-icon {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--darkSiteColor);
        color: var(--lightSiteColor);
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        font-size: 18px;
      }
      input {
        width: calc(100% - 45px);
        height: 45px;
        background-color: transparent;
        border-color: var(--darkSiteColor);
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--darkSiteColor);
        font-size: 16px;
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
      }
      input:focus ~ fa-icon {
        background-color: transparent;
        color: var(--darkSiteColor);
      }
    }
    button {
      margin-top: 20px;
      width: 100%;
      height: 45px;
      background-color: var(--darkSiteColor);
      border-color: var(--darkSiteColor);
      font-family: 'Montserrat Alternates', sans-serif;
      color: var(--lightSiteColor);
      font-size: 16px;
    }
    button:disabled {
      cursor: not-allowed;
    }
    button:focus {
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
    }
  }
}
@media screen and (max-width: 650px) {
  .loginBox {
    width: 100%;
  }
  .login-container {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  .login-title {
    font-size: 24px;
  }
}
