@import 'src/app/styles/theme';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$newProjectDecember19-primary: mat-palette($mat-indigo);
$newProjectDecember19-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$newProjectDecember19-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$newProjectDecember19-theme: mat-light-theme(
  $newProjectDecember19-primary,
  $newProjectDecember19-accent,
  $newProjectDecember19-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($newProjectDecember19-theme);

html,
body {
  margin: 0;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
}
.ui-dialog {
  font-family: 'Montserrat Alternates', sans-serif !important;
}
.ui-dialog-titlebar {
  background-color: var(--darkSiteColor) !important;
  color: var(--lightSiteColor) !important;
  border-color: var(--lightSiteColor) !important;
  cursor: move;
}
.ui-dialog-title {
  cursor: default;
}
.ui-dialog-titlebar-icon {
  color: var(--lightSiteColor) !important;
}
.ui-dialog-content {
  background-color: var(--darkSiteColor) !important;
  border-color: var(--lightSiteColor) !important;
}
.ui-inputtext,
.ui-dropdown {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: var(--veryLightSiteColor) !important;
  border-color: var(--middleSiteColor) !important;
  color: var(--darkSiteColor) !important;
}
.contactDropdown > .ui-dropdown {
  padding: 7px 10px 7px 0;
  margin-top: 20px;
  width: 100% !important;
}

li.ui-state-highlight > span {
  color: var(--middleSiteColor);
}
.ui-dropdown-trigger {
  background-color: var(--middleSiteColor) !important;
}
.ui-dropdown-panel {
  border-color: var(--middleSiteColor) !important;
}
.ui-dropdown-item {
  background-color: var(--veryLightSiteColor) !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
.ui-dropdown-item:hover {
  background-color: var(--lightSiteColor) !important;
}
.ui-dropdown-trigger-icon {
  color: var(--veryLightSiteColor) !important;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
  color: var(--darkSiteColor) !important;
}
